<html>
<head>
<style>
body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
</style>
</head>
<body>
<% if current_user.role=="admin" %>
<ul>
  <li><a href="#Deposit">Deposit</a></li>
  <li><a href="#Withdraw">Withdraw</a></li>
  <li><a href="#Transfer_Money">Transfer Money</a></li>
  <li><a href="#Notification">Notification</a></li>
  <li><a href="#Balance_inquiry">Balance Inquiry</a></li>
  <li style="float:right"><a href="#Hi">Hi Admin</a></li>
</ul>
<% end %>

<% if current_user.role=="user" %>
<ul>
  <li><a href="#Transfer_Money">Transfer Money</a></li>
  <li><a href="#Transaction_history">Transaction History</a></li>
  <li><a href="#Notification">Notification</a></li>
  <li><a href="#Balance_inquiry">Balance Inquiry</a></li>
  <li style="float:right"><a href="#Hi">Hi User</a></li>
</ul>
<% end %>
</body>
</html>







<div class="text-center" >
  <h1>EASYBANKING</h1>

<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= button_to "Sign_out", destroy_user_session_path, class: "dropdown-item", method: :delete %>
<% else %>

  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</div>


